.webHeader {
  padding: 10px 20px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 99;
  position: relative;

  .left {
    height: 100%;
    display: flex;
    align-items: center;

    .websiteIcon {
      height: 100%;
    }

    .websiteName {
      margin-left: 10px;
      font-size: 36px;
      font-weight: bolder;
    }
  }

  .header-operate {
    .opt-btn {
      margin-right: 10px;
    }
  }
}
