.contact-page {
  width: 100%;
  height: 100%;
  display: flex;

  .left-img {
    width: 50%;
    height: 500px;
    background: url('../../../assets/home/24-service.png') no-repeat;
    background-size: cover;
    background-position: center right;
  }

  .right-content {
    width: 50%;
    height: 100%;
    @include common.card-padding;

    .title {
    }
  }
}
