html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  color: rgba(0, 0, 0, 0.88);
}

// .webMain {
//   height: 2000px;
//   background: palegreen;
// }

// .webFooter {
//   height: 300px;
//   background: papayawhip;
// }
