html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  color: rgba(0, 0, 0, 0.88);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
}

* {
  box-sizing: border-box;
}

.webMain {
  height: 1000px;
  width: 100%;
  background: palegreen;
}

.webFooter {
  height: 300px;
  background: papayawhip;
}
