.about-view {
  // height: calc(100vh - 100px);
  min-height: calc(100vh - 100px);
  @include common.view-padding;

  .content {
    display: flex;
    height: calc(100% - 32px);

    .aside {
      width: 200px;
      height: 100%;
    }

    .right {
      width: calc(100% - 200px);
      padding: 0 20px;
    }
  }
}
